<div class="panel panel-default">    
    <div class="panel-body">
        <table>
            <tr><td *ngFor="let dies of Calendari.L1">{{dies.dia}}</td></tr>
            <tr><td *ngFor="let dies of Calendari.L2">{{dies.dia}}</td></tr>
            <tr><td *ngFor="let dies of Calendari.L3">{{dies.dia}}</td></tr>
            <tr><td *ngFor="let dies of Calendari.L4">{{dies.dia}}</td></tr>
            <tr><td *ngFor="let dies of Calendari.L5">{{dies.dia}}</td></tr>
            <tr><td *ngFor="let dies of Calendari.L6">{{dies.dia}}</td></tr>
        </table>
    </div>
</div>


