
  	<tabset>
	  <tab heading="Dades generals">
	  	<div class="container-fluid">
  			<div class="row"> <br /> </div>
  			<div class="row">  			
  				<form  class="form-horizontal">
				  <div class="form-group">
				  	<div class="col-xs-2"> <label for="" class="control-label">Nom de l'activitat</label> </div>
				    <div class="col-xs-10"> <input type="text" class="form-control" id="" placeholder="Nom de l'activitat"> </div>
				  </div>				  
				  <div>	
				  {{CiclesSelect}}				  
				  {{FormatsSelect}}				  			  				  				 
				  	<ul>
   						
					</ul>
				  </div>
				  
				  <div class="form-group">
				    <div class="col-xs-2"> <label for="" class="control-label">Cicle</label> </div>
				    <div class="col-xs-10"> 				    
				    	<single-select [items]="CiclesSelect" [placeholder]="'Escull un cicle'"></single-select>
  					</div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-2"> <label for="" class="control-label">Format</label> </div>
				    <div class="col-xs-10"> <single-select [items]="FormatsSelect" [placeholder]="'Escull un format'"></single-select>
				  </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-2"> <label for="" class="control-label">Estat</label> </div>
				    <div class="col-xs-10"> <single-select [placeholder]="'Escull un estat'"></single-select> </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-2"> <label for="" class="control-label">Organitzador</label> </div>
				    <div class="col-xs-10"> <input type="text" class="form-control" id="" placeholder=""> </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-2"> <label for="" class="control-label">Responsable</label> </div>
				    <div class="col-xs-10"> <input type="text" class="form-control" id="" placeholder=""> </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-2"> <label for="" class="control-label">Avisar hospici?</label> </div>
				    <div class="col-xs-10"> <single-select [defaultValue]='[{"id":0, "text": "No"}]'></single-select> </div>
				  </div>				  
				  <button type="submit" class="btn btn-success">Guarda l'activitat</button>
				  <button type="submit" class="btn btn-warning">Esborra l'activitat</button>
				</form>
  			</div>
  		</div>	    	  	
	  </tab>
	  <tab heading="Horaris"></tab>
	  <tab heading="Descripció">
	  	<div class="container-fluid">
  			<div class="row">
  			</div>
  		</div>	    
	  </tab>
	</tabset>